<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bout TIme.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>36F90E0D1DF4D384005F2E10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36F90E211DF4D385005F2E10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36F90E2C1DF4D385005F2E10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
